/*Colour Scheme*/
.col_black      {color: #333745;}
.col_popPink    {color: #E63462;}
.col_orange     {color: #FE5F55;}
.col_limeGreen  {color:#C7EFCF;}
.col_paleGreen  {color:#EEF5DB;}

.col_1{color: #386641;}
.col_2{color: #6A994E;}
.col_3{color: #A7C957;}
.col_4{color: #F2E8CF;}
.col_5{color: #BC4749;}
    

head{
    background-color: magenta;
    margin: 0;
}

body{
    margin: 0;
    background-color: #F2E8CF;
    text-align: center;
    color: rgb(241, 255, 244);
}

h1{
    width: 20%;
    margin: 0 auto 0 auto;
    font-family: 'Prompt', sans-serif;
    font-size: 3em;
}


.mainDiv{
    background-color: #A7C957;
    position: relative;
    padding-top: 50px;
}

.secondDiv{
    background-color: yellow;
    /*border-radius: 5%;*/
    border:solid rgb(90, 60, 5) 5px;
    width:100px;
    height:100px;
}

.thirdDiv{
    background-color: red;
    border-radius: 5%;
    border:dashed blue 15px; 
    width:100px;
    height:100px;
}

.profile-round{
    margin: 10px;
    border-radius: 50%;
    border: 2px solid;
    width: 250px;
    border-color: #386641;
    border-width: 5px;
}

.middle-container{
    background-color: #cfe484;
}

.bottom-container{
    background-color: #cfe484;
}

#cloud1{
    position: absolute;
    right: 20%;
    top:20px;
}

#cloud2{
    position: absolute;
    left:20%;
    top:30%;
}