/*Colour Scheme*/
.col_black      {color: #333745;}
.col_popPink    {color: #E63462;}
.col_orange     {color: #FE5F55;}
.col_limeGreen  {color:#C7EFCF;}
.col_paleGreen  {color:#EEF5DB;}

.col_1{color: #386641;}
.col_2{color: #6A994E;}
.col_3{color: #A7C957;}
.col_4{color: #F2E8CF;}
.col_5{color: #BC4749;}
    

head{
    background-color: magenta;
    margin: 0;
}

body{
    margin: 0;
    background-color: #6A994E;
    text-align: center;
    color: rgb(241, 255, 244);
}

hr{
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: dotted none none;
    border-width: 20px;
    color: #6A994E;
}

h1{
    width: 30%;
    margin: 30% auto 10px auto;
    font-family: 'Share Tech Mono', monospace;
    font-size: 4rem;
    line-height: 1.5;
    color: #386641;
}

h2{
    font-size: 2rem;
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    color: #386641;
}

h3{
    color: #386641;
    font-family: 'Share Tech Mono', monospace;
}

a{
    color: #1262ad;
}

p{
    color: #386641;
}

.mainDiv{
    background-color: #A7C957;
    position: relative;
    padding-top: 50px;
}

.secondDiv{
    background-color: yellow;
    border:solid rgb(90, 60, 5) 5px;
    width:100px;
    height:100px;
}

.thirdDiv{
    background-color: red;
    border-radius: 5%;
    border:dashed blue 15px; 
    width:100px;
    height:100px;
}

.skill-row{
    margin: 100px auto 100px auto;
    line-height: 1.5;
    width:70%;
}

.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}

/*Class for images used to accompany paragraph*/
.image-paragraph{
    position: relative;
    margin: 20px;
    width: 150px;
}

.image-float-left{
    float:left;
}

.image-float-right{
    float:right;
}

.image-featured{
    width: 200px;
}

.profile-round{
    margin: 20px;
    border-radius: 50%;
    border: 2px solid;
    width: 250px;
    border-color: #386641;
    border-width: 5px;
}

.middle-container{
    background-color: #cfe484;
}

.bottom-container{
    background-color: #6A994E;
    padding: 25px 0px 50px 0px;
}

.footer-link{
    font-size: 1.6rem;
    font-weight: 900;
    color: #386641;
    position: relative;
    top:20px;
    padding: 5px 10px 5px 10px;
}

.footer-link:hover{    
    color: #A7C957;
}

#cloud1{
    position: absolute;
    right: 15%;
    top:30px;
}

#cloud2{
    position: absolute;
    left:10%;
    top:30%;
}

.btn {
    border:solid;
    border-color: #386641;
    background: #A7C957;
    background-image: -webkit-linear-gradient(top, #A7C957, #A7C957);
    background-image: -moz-linear-gradient(top, #A7C957, #A7C957);
    background-image: -ms-linear-gradient(top, #A7C957, #A7C957);
    background-image: -o-linear-gradient(top, #A7C957, #A7C957);
    background-image: linear-gradient(to bottom, #A7C957, #A7C957);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #386641;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }